
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- LINK TAGS -->

    <title>BOLO 失物招領 - 最快速的遺失物招領解決方案</title>

    <link rel='stylesheet' href="/static/LayerSlider/static/css/layerslider.css" type='text/css' media='all' />
    <link rel='stylesheet' href='/static/revslider/public/assets/css/settings.css'  type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/woocommerce-layout.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href='/static/css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/js/mediaelement/mediaelementplayer.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/js/mediaelement/wp-mediaelement.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/main.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/style-customabae.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/configs.css' type='text/css' media='all' />

    <link rel='stylesheet' href='/static/js/wp-google-maps-pro/css/wpgmza_style_pro.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/js/wp-google-maps-pro/css/data_table_front.css'  type='text/css' media='all' />

	<link rel="icon" type="image/x-icon" href="/static/upload/l1icon.png" />
</head>

<body class="page page-id-1267 page-child parent-pageid-1091 page-template-default btx-layout btx-layout--wide btx-layout-responsive btx-layout--no-navbar" data-scheme="light" data-layout="wide">

    <div class="btx-wrapper btx-p-bg-bg">

        <main class="btx-content btx-content--no-header" id="main">
            <article id="post-1267" class="btx-content-wrapper post-1267 page type-page status-publish hentry">

                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme btx-section--fit-height" data-index="0" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-wrapper">
                                    <!--<div class="btx-background-inner" style="background-image:url(/static/img/hbg.jpg); background-size:cover; background-position:center center; background-repeat:repeat;"></div>-->
                                </div>

                                <div class="btx-background" data-type="video" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                                    <div class="btx-background-wrapper" id="div_f52f_0">
                                        <div class="btx-background-wrapper-inner">
                                            <video class="btx-video-background-inner btx-video-background-inner--selfhosted" muted autoplay loop>
                                                 <!--<source src="//static/img/abgv.mp4">-->
                                            </video>
                                        </div>
                                    </div>
                                    <div class="btx-background-overlay btx-p-bg-bg" id="div_f52f_1"></div>
                                </div>


                                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.2;"></div>
                            </div>
                            <div class="btx-section-wrapper">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                <!--
                                                <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:2px;"><span class="font-style font-style-big" style="font-size: 120px;"><span style="font-weight: bold;">404</span><br></span></h3>
                                            -->
                                                <img src="/static/img/logo.png" width="300px">
                                            </div>

                                            <!--
                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align btx-uppercase">
                                                <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:-0.01em;"><span class="font-style" style="font-size: 30px;"><span style="font-weight: bold;">遺失物協尋平台</span></span></h3>
                                            </div>
                                        -->

                                            <div class="btx-item js-item-space btx-space" style="height:20px;"></div>

                                            <div class="btx-item js-item-text btx-text btx-center-align btx-custom_c-font">
                                                <div class="btx-row" style="margin:0 -30px;">

                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align btx-uppercase">
                                                <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:-0.01em;"><span class="font-style" style="font-size: 30px;"><span style="font-weight: bold;">遺失物解決方案</span></span></h3>
                                            </div>

                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span class="font-style" style="font-size: 18px;"><span style="color: rgb(255, 255, 255);">還在擔心東西遺失找不會來嗎？<br>
                                                            立即申請專屬的聯絡Qrcode，讓拾獲者快速與你聯繫！</span>
                                                            <br>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:320px; height:1px; background-color:#aaaaaa;">
                                                </div>
                                            </div>
                                            {% if user.is_authenticated %}
                                            <div class="btx-item js-item-button btx-button btx-button--border btx-center-align btx-button-size--medium btx-button-hover--inverse btx-button-color--basic">
                                              <a href="{% url 'account' %}" class="btnx" style="border-radius:40px; border-width:1px;">

                                                  <i class="fa fa-arrow-right btx-icon--before"></i> 我的帳戶
                                              </a>
                                              <div class="btx-item js-item-button btx-button btx-button--fill btx-center-align btx-button-size--medium btx-button-hover--inverse btx-button-color--basic">
                                                <a href="{% url 'logout' %}" class="btnx" style="border-radius:40px; border-width:1px;">

                                                    <i class="fa fa-sign-in btx-icon--before"></i> 登出
                                                </a>
                                                
                                            </div>  
                                          </div>
                                          {% else %}
                                            <div class="btx-item js-item-button btx-button btx-button--border btx-center-align btx-button-size--medium btx-button-hover--inverse btx-button-color--basic">
                                                <a href="/basic_app/register/" class="btnx" style="border-radius:40px; border-width:1px;">

                                                    <i class="fa fa-arrow-right btx-icon--before"></i> 立即註冊
                                                </a>
                                                
                                            </div>

                                            <div class="btx-item js-item-button btx-button btx-button--fill btx-center-align btx-button-size--medium btx-button-hover--inverse btx-button-color--basic">
                                                <a href="/basic_app/user_login/" class="btnx" style="border-radius:40px; border-width:1px;">

                                                    <i class="fa fa-sign-in btx-icon--before"></i> 登入掛失
                                                </a>
                                                
                                            </div>
                                            {% endif %}



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme" data-index="1" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#1d1d1d; opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:30px; padding-right:40px; padding-left:40px; padding-bottom:30px;">
                                <div class="btx-container--fullwidth">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-6">

                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                <div class="btx-row" style="margin:0 -30px;">

                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span class="font-style" style="font-size: 13px;"><span style="color: rgb(255, 255, 255);">© 2019 研究生好窮有限公司/成大工設所</span></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-col-6">

                                            <div class="btx-item js-item-text btx-text btx-right-align btx-primary-font">
                                                <div class="btx-row" style="margin:0 -30px;">

                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <a href="/contact/">
                                                            <span class="font-style" style="font-size: 13px;display:inline;"><span style="color: rgb(255, 255, 255);">聯絡我們</span></span>
                                                            </a>
                                                            <a href="#">
                                                            <span class="font-style" style="font-size: 13px;display:inline;"><span style="color: rgb(255, 255, 255);">/ 了解更多</span></span>
                                                            </a>
                                                            <a href="#">
                                                            <span class="font-style" style="font-size: 13px;display:inline;"><span style="color: rgb(255, 255, 255);"> / 購買商品</span></span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </article>
        </main>
    </div>
    <script type='text/javascript' src='//static/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='//static/js/jquery/jquery-migrate.min.js'></script>

    <script type='text/javascript' src='//static/revslider/public/assets/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='//static/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var BateauxOptions = {"ajax_url":"//static/js/admin-ajax.html"};
    /* ]]> */
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mejsL10n = {
            "language": "en-US",
            "strings": {
                "Close": "Close",
                "Fullscreen": "Fullscreen",
                "Download File": "Download File",
                "Download Video": "Download Video",
                "Play\/Pause": "Play\/Pause",
                "Mute Toggle": "Mute Toggle",
                "None": "None",
                "Turn off Fullscreen": "Turn off Fullscreen",
                "Go Fullscreen": "Go Fullscreen",
                "Unmute": "Unmute",
                "Mute": "Mute",
                "Captions\/Subtitles": "Captions\/Subtitles",
                "Async": "False"
            }
        };
        var _wpmejsSettings = {
            "pluginPath": "media\/js\/mediaelement\/"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/static/js/mediaelement/mediaelement-and-player.min.js'></script>
    <script type='text/javascript' src='/static/js/mediaelement/wp-mediaelement.min.js'></script>
    <script type='text/javascript' src='/static/js/hoverIntent.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery/ui/widget.min.js'></script>
    <script type='text/javascript' src='/static/js/main-vendors.min.js'></script>
    <script type='text/javascript' src='/static/js/main.min.js'></script>
    

</body>
</html>
