
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- LINK TAGS -->

    <title>BOLO 失物招領 - 最快速的遺失物招領解決方案</title>

    <link rel='stylesheet' href='/media/LayerSlider/static/css/layerslider.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/media/revslider/public/assets/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/media/css/woocommerce-layout.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/media/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href='/media/css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/media/js/mediaelement/mediaelementplayer.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/media/js/mediaelement/wp-mediaelement.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/media/css/main.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/media/css/style-customabae.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/media/css/configs.css' type='text/css' media='all' />

    <link rel='stylesheet' href='/media/js/wp-google-maps-pro/css/wpgmza_style_pro.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/media/js/wp-google-maps-pro/css/data_table_front.css' type='text/css' media='all' />

	<link rel="icon" type="image/x-icon" href="/media/upload/l1icon.png" />
</head>

<body class="home page page-id-12 page-parent page-template-default btx-layout btx-layout--wide btx-layout-responsive btx-layout--topnav btx-layout--fixednav" data-scheme="light" data-layout="wide">

    <div class="btx-wrapper btx-p-bg-bg btx-home hide-border">

        <header class="btx-header" data-transparent="" data-height="90">

            <nav class="btx-navbar btx-navbar--standard btx-light-scheme btx-highlight-default btx-navbar-dropdown-dark-scheme btx-navbar--center btx-navbar--custom" data-height="90" data-style="standard" data-fixed="true" data-height_fixed="60" data-autohide="true" data-transition="custom-change" data-transition_point="1">
                <div class="btx-container--fullwidth">
                    <div class="btx-navbar-content-wrapper">
                        <div class="btx-navbar-header">
                            <a class="btx-navbar-brand" href="/">

                                <img src="/media/upload/l1.png" alt="">

                            </a>
                        </div>

                        
                </div>
            </nav>
            <div class="btx-header-widgets btx-left-alignment btx-light-scheme">
                <div class="btx-header-widgets-content">
                    <div class="btx-container--fullwidth">
                        <div class="btx-row">

                            <div class="btx-header-widgets-column btx-p-border-border btx-col-3">
                            </div>
                            <div class="btx-header-widgets-column btx-p-border-border btx-col-3">
                            </div>
                            <div class="btx-header-widgets-column btx-p-border-border btx-col-3">
                            </div>
                            <div class="btx-header-widgets-column btx-p-border-border btx-col-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="btx-navbar--mobile btx-navbar--mobile-standard btx-navbar--minimal btx-navbar--minimal--full btx-light-scheme" data-height="60" data-fixed="true" data-autohide="true" data-transition="custom-change" data-transition_point="1">
                <div class="btx-container--fullwidth">
                    <div class="btx-navbar-content-wrapper">
                        <div class="btx-navbar-header">
                            <a class="btx-navbar-brand" href="/">

                                <img src="/media/upload/l1.png" alt="">

                            </a>
                        </div>
                        <a class="btx-collapsed-button" href="#" data-target=".btx-collapsed-menu">
                            <span class="btx-lines"></span>
                        </a>
                        <div class="btx-collapsed-menu btx-collapsed-menu--full">
                            <div class="btx-navbar-background">
                                <div class="btx-background-wrapper"></div>
                                <div class="btx-background-overlay btx-p-bg-bg"></div>
                            </div>

                            <div class="btx-collapsed-menu-inner">
                                <ul id="menu-main-menu-1" class="btx-navbar-nav btx-menu">
                                    <li class="menu-item menu-item-has-children  menu-item-mega-menu"><a href="/">首頁</a>
                                        <li class="menu-item menu-item-has-children  menu-item-mega-menu"><a href="/">聯絡我們</a>
                                        
   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main class="btx-content btx-content--with-header" id="main">
            <article id="post-521" class="btx-content-wrapper post-521 page type-page status-publish hentry">




                    
                {% block body_block %} 
                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                            <div class="btx-section-wrapper">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">

                                         <div class="btx-col-2"></div>
                                       
                                        <div class="btx-col-8">

                                            <div class="btx-item js-item-team btx-team btx-team--box btx-center-align btx-s-bg-bg btx-p-border-border btx-team--circle" >
                                                <div class="btx-background" data-type="color" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#ffffff; opacity:1;"></div>
                                                </div>
                                                <div class="btx-item js-item-image btx-image btx-center-align btx-image--circle" style="margin-bottom:40px;">
                                                    <div class="btx-image-container">
                                                        {% if lis.profile_pic != '' %}
                                                        <img src="{{lis.profile_pic.url}}" alt="" style="max-width:100%;" width="80" height="80"  /> </div>
                                                        {% endif%}
                                                </div>

                                                <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align" style="margin-bottom:10px;">
                                                    <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">{{lis.user.first_name}}{{lis.user.last_name}}</h3>
                                                </div>

                                                <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">

                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner">
                                                                    {{lis.gender}} </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                    <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100px; height:2px; background-color:#01a2dd;">
                                                    </div>
                                                </div>

                                                <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">

                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner">
                                                                {{lis.show_out}} </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="btx-item js-item-space btx-space" style="height:20px;"></div>

                                                <div class="btx-item js-item-button btx-button btx-button--fill btx-center-align btx-button-size--large btx-button-hover--brand btx-button-color--brand btx-button--full">
                                                <a href="#modal-demo-1" class="btnx" style="border-radius:0px; border-width:5px;">

                                                                立即聯絡失主       
                                                </a>
                                            </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        
                    </div>
                </div>

                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                        
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" id="1" data-index="1">
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:0px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-modal btx-modal mfp-hide btx-light-scheme" id="modal-demo-1" style="overflow-y:auto;" data-animation="move-horizontal">
                                                <div class="btx-background" data-type="color" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#ffffff; opacity:1;"></div>
                                                </div>
                                                <div class="btx-item js-item-image btx-image btx-center-align btx-image--circle" style="margin-bottom:40px;">
                                                    <div class="btx-image-container">
                                                        {% if lis.profile_pic != '' %}
                                                        <img src="{{lis.profile_pic.url}}" alt="" style="max-width:100%;" width="80" height="80"  /> </div>
                                                        {% endif%}
                                                </div>

                                                <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align" style="margin-bottom:10px;">
                                                    <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">{{lis.user.first_name}}{{lis.user.last_name}}</h3>
                                                </div>


                                                <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                    <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100px; height:2px; background-color:#01a2dd;">
                                                    </div>
                                                </div>

                                                <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                      {% if lis.FB_site != 'https://m.me/' %}
                                                      <div class="btx-item js-item-button btx-button btx-button--border btx-center-align btx-button-size--large btx-button-hover--brand btx-button-color--brand btx-button--full">
                                                        <a href="{{lis.FB_site}}" class="btnx" style="border-radius:0px; border-width:1px;">

                                                                        <i class="fa fa-facebook"></i>&nbsp;&nbsp; facebook 聯繫

                                                        </a>

                                                    </div>
                                                      {% endif %}
                                                       <!-- <div class="btx-item js-item-button btx-button btx-button--border btx-center-align btx-button-size--large btx-button-hover--brand btx-button-color--brand btx-button--full">
                                                            <a href="https://www.facebook.com/profile.php?id=100000237378692&ref=br_rs" class="btnx" style="border-radius:0px; border-width:1px;">

                                                                            <i class="fa fa-facebook"></i>&nbsp;&nbsp; facebook 聯繫

                                                            </a>

                                                        </div>-->


                                                    </div>

                                                    <div class="btx-row" style="margin:0 -30px;">

                                                        <div class="btx-item js-item-button btx-button btx-button--border btx-center-align btx-button-size--large btx-button-hover--brand btx-button-color--brand btx-button--full">
                                                            <a href="tel:{{lis.portfolio_site}}" class="btnx" style="border-radius:0px; border-width:1px;">

                                                                            <i class="fa fa-phone"></i>&nbsp;&nbsp; 電話號碼 聯繫

                                                            </a>
                                                        </div>


                                                    </div>

                                                    <div class="btx-row" style="margin:0 -30px;">

                                                        <div class="btx-item js-item-button btx-button btx-button--border btx-center-align btx-button-size--large btx-button-hover--brand btx-button-color--brand btx-button--full">
                                                            <a href="mailto:{{lis.user.email}}" class="btnx" style="border-radius:0px; border-width:1px;">

                                                                            <i class="fa fa-mail"></i>&nbsp;&nbsp; E-mail 聯繫

                                                            </a>
                                                        </div>


                                                    </div>
                                                </div>

                                                <div class="btx-item js-item-space btx-space" style="height:20px;"></div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                    </div>
                </div>


            </article>
        </main>


        <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme" data-index="1" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#1d1d1d; opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:30px; padding-right:40px; padding-left:40px; padding-bottom:30px;">
                                <div class="btx-container--fullwidth">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-6">

                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                <div class="btx-row" style="margin:0 -30px;">

                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span class="font-style" style="font-size: 13px;"><span style="color: rgb(255, 255, 255);">© 2019 研究生好窮有限公司/成大工設所</span></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-col-6">

                                            <div class="btx-item js-item-text btx-text btx-right-align btx-primary-font">
                                                <div class="btx-row" style="margin:0 -30px;">
                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <a href="contact.html">
                                                            <span class="font-style" style="font-size: 13px;display:inline;"><span style="color: rgb(255, 255, 255);">聯絡我們</span></span>
                                                            </a>
                                                            <a href="#">
                                                            <span class="font-style" style="font-size: 13px;display:inline;"><span style="color: rgb(255, 255, 255);">/ 了解更多</span></span>
                                                            </a>
                                                            <a href="#">
                                                            <span class="font-style" style="font-size: 13px;display:inline;"><span style="color: rgb(255, 255, 255);"> / 購買商品</span></span>
                                                            </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
    </div>
    {% endblock %}

    <script type='text/javascript' src='/media/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='/media/js/jquery/jquery-migrate.min.js'></script>

    <script type='text/javascript' src='/media/revslider/public/assets/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='/media/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var BateauxOptions = {"ajax_url":"/media/js/admin-ajax.html"};
        /* ]]> */
        </script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var mejsL10n = {
                "language": "en-US",
                "strings": {
                    "Close": "Close",
                    "Fullscreen": "Fullscreen",
                    "Download File": "Download File",
                    "Download Video": "Download Video",
                    "Play\/Pause": "Play\/Pause",
                    "Mute Toggle": "Mute Toggle",
                    "None": "None",
                    "Turn off Fullscreen": "Turn off Fullscreen",
                    "Go Fullscreen": "Go Fullscreen",
                    "Unmute": "Unmute",
                    "Mute": "Mute",
                    "Captions\/Subtitles": "Captions\/Subtitles"
                }
            };
            var _wpmejsSettings = {
                "pluginPath": "media\/js\/mediaelement\/"
            };
            /* ]]> */
        </script>
    <script type='text/javascript' src='/media/js/mediaelement/mediaelement-and-player.min.js'></script>
    <script type='text/javascript' src='/media/js/mediaelement/wp-mediaelement.min.js'></script>
    <script type='text/javascript' src='/media/js/hoverIntent.min.js'></script>
    <script type='text/javascript' src='/media/js/jquery/ui/widget.min.js'></script>
    <script type='text/javascript' src='/media/js/main-vendors.min.js'></script>
    <script type='text/javascript' src='/media/js/main.min.js'></script>


</body>
</html>